.bloque-aboutMe {
  margin: 30px auto;
  position: relative;
  min-height: 60vh;

}



.bloque-aboutMe .bloque-parrafo {
  background-color: #264066;
  padding: 20px;
  border-radius: 15px;
  color: #fff;
  width: 90%;
  margin-left: auto;



}

.bloque-aboutMe .bloque-parrafo p {
  margin-left: 20%;
  font-weight: 100;
  text-align: justify;
}

.bloque-aboutMe img {
  position: absolute;
  width: 10rem;
  height: 13rem;
  object-fit: cover;
  border-radius: 10px;
  top: 4rem;
  left: -1rem;
  filter: grayscale(80%);
  transition: all .3s;
}

.bloque-aboutMe .bloque-parrafo:hover img {
  filter: grayscale(0%);
  transform: scale(1.1);

}



.bloque-aboutMe video {
  width: 100%;
  border-radius: 10px;
  transition: all .5s;
  max-width: 200px;
}

.carrusel_video {
  margin: 10px auto;
}






/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .bloque-aboutMe {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bloque-aboutMe img {
    position: relative;
    width: 6rem;
    height: 9rem;
    top: 0;
    left: 0;
    margin: 10px 0;
  }

  .bloque-aboutMe .bloque-parrafo {
    position: relative;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .bloque-aboutMe .bloque-parrafo p {
    padding: 0;
    margin: 10px 0;
    width: 80%;
  }

  .carrusel_video {
    margin: 10px auto;
  }



}


/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 1000px) {

  .bloque-aboutMe img {
    width: 20rem;
    height: 25rem;
  }

  .carrusel_video {
    margin: 10px 0 10px auto;
  }


}