::after,
::before:hover {
  box-sizing: inherit;
}

.bloque-menu {
  background-color: #Cad9ed;
  background-color: #121212;
}

.bloque-menu .container {
  display: flex;
}

.bloque-menu .items {
  width: 100%;
  justify-content: end;
  gap: 10px;
}

.bloque-menu .items a {
  font-size: .9rem;
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
  border-left: solid 2px #83a5ff;
  padding: 0 5px;
  position: relative;
}

.bloque-menu .items a:hover {
  cursor: pointer;
}


.bloque-menu .underline::after {
  content: '';
  text-align: start;
  background-color: #83a4ff;
  width: 0px;
  text-wrap: nowrap;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 300ms;
}

.bloque-menu .about:hover::after {
  content: "About Me";
  width: 100%;
  max-width: 200px;
  transition-delay: 0s;
  color: black;
}

.bloque-menu .about.isSpain:hover::after {
  content: "Sobre Mi";
  width: 100%;
  max-width: 200px;
  transition-delay: 0s;
  color: black;
}


.bloque-menu .experience:hover::after {
  content: "Experience";
  width: 100%;
  max-width: 200px;
  transition-delay: 0s;
  color: black;
}

.bloque-menu .experience.isSpain:hover::after {
  content: "Experiencia";
  width: 100%;
  max-width: 200px;
  transition-delay: 0s;
  color: black;
}

.bloque-menu .projects:hover::after {
  content: "Projects";
  width: 100%;
  max-width: 200px;
  transition-delay: 0s;
  color: black;
}

.bloque-menu .projects.isSpain:hover::after {
  content: "Proyectos";
  width: 100%;
  max-width: 200px;
  transition-delay: 0s;
  color: black;
}

.bloque-menu .skills:hover::after {
  content: "Skills";
  width: 100%;
  max-width: 200px;
  transition-delay: 0s;
  color: black;
}

.bloque-menu .skills.isSpain:hover::after {
  content: "Habilidades";
  width: 100%;
  max-width: 200px;
  transition-delay: 0s;
  color: black;
}


.bloque-menu .logo-exe::after {
  content: "";
  width: 10%;
  display: block;
  height: 2px;
  margin: 0;
  padding: 0;
  background-color: #83a4ff;
  transition: all .3s;
}

.bloque-menu .logo-exe:hover::after {
  width: 100%;

}