.bloque-projects {
  position: relative;
  margin: 10px auto;
  min-height: 40vh;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
}

.bloque-projects .bloque-titulos {
  position: absolute;
  left: 20px;
  top: -60px;
}

.bloque-projects .bloque-titulos .fondo-titulo {
  font-size: 5rem;
  color: #83a5ff;
  opacity: 5%;

}

.bloque-projects .bloque-titulos .titulo {
  position: absolute;
  top: 70px;
  left: 60px;
  color: #fff;
  font-size: 3rem;
}


.bloque-projects .bloque-items {
  padding-top: 90px;
  width: 100%;
}

.bloque-projects .bloque-items .item {
  background-color: rgb(217, 217, 217, 0.2);
  color: #fff;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;

}

.bloque-projects .bloque-items .item .contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contenido img {
  object-fit: cover;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.bloque-projects .item .item-caracteristicas {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
}

.bloque-items .item-caracteristicas div {
  display: flex;
  gap: 10px;
}

.bloque-items .item-caracteristicas i {
  font-size: 2rem;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .bloque-items img {
    width: 100%;
  }

  .bloque-projects .bloque-items .contenido {
    font-size: .8rem;
  }

  .bloque-projects .item .item-caracteristicas {
    width: 100%;
    padding: 0;
  }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 1000px) {

  .bloque-projects {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .bloque-projects .bloque-titulos {
    left: 25%;
  }

  .bloque-projects .bloque-titulos .fondo-titulo {
    font-size: 6rem;

  }

  .bloque-projects .bloque-titulos .titulo {
    left: 50%;
  }
}