.bloque-skills {
  position: relative;
  margin: 20px auto;
  padding-top: 100px;
}

.section-skills {
  margin-top: 50px;
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border-radius: 5px;
  /* background-color: rgba(38, 64, 102, 0.3); */
  /* background:linear-gradient(120deg,  rgba(38, 64, 102, 0.1) 30%, rgba(38, 64, 102, 0.5)); */
  background: linear-gradient(130deg, rgba(38, 64, 102, 1),rgba(38, 64, 102, 0)30% );
  box-shadow: 0 0 10px rgba(38, 64, 102, .8) !important;


}

.section-skills .skill-item img {
  width: 60px;
  padding: 5px;
  filter: grayscale(40%);
  transition: all 300ms;
}


.section-skills .skill-item img:hover {
  filter: grayscale(0%);
}

.section-skills .skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  color: white;


}




.section-skills .skill-item img:hover,
.section-skills .skill-item i:hover,
.section-skills .skill-item svg:hover {
  transform: scale(1.1);
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .section-skills {
    width: 90%;
    font-size: .9rem;
  }
}

@media only screen and (min-width: 1000px) {

  .bloque-skills .skill-item img {
    width: 80px;
  }
}