body {
  /* background-color: #141e30; */
  font-family: 'Montserrat', sans-serif;
  /* max-width: 100vh;
  min-width: 100%; */
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}


body {
  position: relative;
  background: linear-gradient(180deg,#121212, black);
  overflow-x: hidden;
}



/* .imagenFondoBody {
  position: fixed;
  top: 0;
  opacity: 0;
  z-index:-1;
  width: 100%;
  filter: blur(2px);
} */



.btnFloating {
  position: fixed;
  right: 5%;
  bottom: -10%;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.5s;
}

.btnFloating.aparecer {
  bottom: 10%;
  opacity: 1;
}





.bloque-titulos {
  position: relative;
  width: 100%;
  text-align: center;
}

.bloque-titulos .fondo-titulo {
  width: 100%;
  font-size: 4em;
  text-wrap: nowrap;
  color: #83a5ff;
  opacity: 20%;
  filter: blur(3px);
  font-weight: 900;
}

.bloque-titulos .titulo {
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
  font-size: 2em;
  color: #fff;
  font-weight: 900;
}

.bloque-titulos .titulo::after {
  content: "";
  width: 20%;
  height: 5px;
  border-radius: 1000px;
  display: block;
  margin: 0 auto;
  background-color: #fff;
}



@media only screen and (min-width: 1000px) {
  .bloque-titulos .fondo-titulo {
    width: 100%;
    font-size: 6em;
    text-wrap: nowrap;
    color: #83a5ff;
    opacity: 20%;
    filter: blur(3px);
    font-weight: 900;
  }

  .bloque-titulos .titulo {
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
    font-size: 3em;
    color: #fff;
    font-weight: 900;
  }

  .imagenFondoBody {
    top: -50%;
  }

}