body {
  background-color: #141e30;
  font-family: 'Jura', sans-serif;
  max-width: 100vh;
  min-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  position: relative;
  background: linear-gradient(120deg,
      #1b2941,
      #090e16);
}


.imagenFondoBody {
  width: 100%;
  position: absolute;
  top: 0;
  opacity: 10%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}



.btnFloating {
  position: fixed;
  right: 5%;
  bottom: -10%;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.5s;
}

.btnFloating.aparecer {
  bottom: 10%;
  opacity: 1;
}